.mobile-overlay {
    height: 100%;
    width: 100%;

    margin: 0;
    border: none;
    padding: 14px 20px;


    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        gap: 10px;
    }
}