$mobile: 768px;
$tablet: 992px;
$desktop: 1280px;

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
      @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}